.open-sans-normal {
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
    "wdth" 100;
    max-width: 1600px;
}

* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

/* Shared styles */
.align-center{
    text-align: center;
}
.font-style {
    font-weight: bold;
    font-size: 2.15rem;
}
.btn-primary {
    padding: 18px 35px;
    font-weight: bold;
    font-size: 1.2rem;
    background-color: rgba(253, 110, 10, 1);;
    color: white;
    border: none;
    border-radius: 5px;
}
.section-description{
    color: rgba(117, 117, 117, 1);
    padding: 30px 0px 50px 0px;
    font-size: 1.2rem;
}

.item-description{
    font-size: 1.2rem;
font-weight: bold;
}
.item-description-two{
    font-size: 1.2rem;
    font-weight: bold;
    padding: 30px 0 20px 0;
}

    /* direct tag styles */
header {
    background-image: url(images/developer.png), url(images/header_bg.png);
    background-repeat: no-repeat;
    background-position: top left, bottom right;
}
main{
    max-width: 1140px;
    margin: 0 auto;
}
main section{
    margin: 130px 0;
}
/* colors */
/* primary color */
.dark-two {
    color: rgba(71, 71, 71, 1);
}

/* secondary color  */
.dark-three {
    color: rgba(253, 110, 10, 1);
}
/* higher secondary color */
.dark-four,.resume-description{
    color: rgba(117, 117, 117, 1);
}
/* background color */
.bg-color {
    background-color: rgba(255, 248, 243, 1);
}

/* nav styles */
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 60px 230px 40px 225px;
}

nav ul{
    display: flex;
    align-items: center;
}
nav ul li {
    /* display: inline; */
    /* aita dile list style and flex(flex er bitore align item) deoa lage na  */
    /* but eta dile responsive er somoy padding bottom o kaj kore na */
    list-style: none;
    margin-left: 51px;
}

ul li a {
    text-decoration: none;
    font-size: 1.2rem;
}
.mary-at-nav{
    font-weight: 800;
    font-size: 2.8rem;
}
/* banner information */
.banner-section {
    display: flex;
    justify-content:space-between;
    align-items: center;
    margin: 0px 35px 0 230px;
}
.banner-info{
    max-width: 585px;
}
.hi-i-am{
    font-size: 2.8rem;
    font-weight: 600
}
.mary-hardy{
    font-size: 5.35rem;
    font-weight: bold;
}
.Contact-btn {
    padding: 18px 24px;
    font-weight: bold;
    font-size: 1.2rem;
    background: none;
    border-radius: 5px;
    border: 1px solid rgba(253, 110, 10, 1);
    color: rgba(253, 110, 10, 1);
    margin-left: 30px;
}

/* .banner-img-div{
    padding-bottom:0px ;
    margin-bottom: 0px;
    max-width: 584px;
    margin-left: 163px;
} */
 /* uporer banner-img-div ta dile img er niche ekto gap thake .eta div er default gap.margin,padding 0 diye o gap sorano jai na.*/
.banner-img {
    width: 584px;
}

/* about section */

.about-section {
    border-radius: 10px;
    padding: 131px 157px;
    text-align: center;
}

.about-items{
    display: flex;
    justify-content: space-around;
}
.item-type{
    font-size: 1.2rem;
}

/* what i do section styles */
.what-i-do-info{
    text-align: center;
    max-width: 909px;
    margin: 0 auto;
}
.skill-card-container{
    display: flex;
    gap: 24px;
}
.skill-card{
    border-radius: 5px;
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
    padding: 30px;
}
.skill-card p{
    max-width: 200px;
}
/* resume styles */
.resume-container{
    display: flex;
    gap: 70px;
}
.resume-main-titles{
    font-size: 1.8rem;
    font-weight: bold;
    color: rgba(71, 71, 71, 1);
    padding-top: 110px;
}
.resume-heading{
    font-weight: 700;
    font-size: 1.5rem;
    color:rgba(71, 71, 71, 1);
    padding: 30px 0 10px 0;
}
.institutions{
    font-size: 1.2rem;
    font-weight: 600;
    color: rgba(117, 117, 117, 1);
    padding-bottom: 20px;
}
.experience-bg,.educational-bg{
    padding-right: 20px;
    max-width: 511px;
}
.resume hr{
    margin: 30px 5px;
    color: rgba(209, 209, 209, 1);
}

.resume-btn{
    margin-top:50px;
}

/* responsive for small devices */
@media screen and (max-device-width: 576px) {
    nav{
        flex-direction: column;
    }
    /* nav ul li{
        padding-bottom: 200px;
    } */
}

/* responsive for medium devices */
@media screen and (min-width:576px) and (max-width:992px) {
    nav{
        flex-direction: column;
    }  
}